## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
columns_to_drop = ['EIN', 'NAME']
new_df = application_df.drop(columns=columns_to_drop, axis=1)
new_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [4]:
# Look at APPLICATION_TYPE value counts for binning
new_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T29', 'T15', 'T17']

print(application_types_to_replace)

['T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T29', 'T15', 'T17']

In [6]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
new_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
classification_counts = new_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
greater_than_one = classification_counts[classification_counts > 1]
print(greater_than_one)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose the cutoff value
cutoff_value = 300

# Count the occurrences of each classification
classification_counts = new_df['CLASSIFICATION'].value_counts()

# Create a list of classifications to be replaced
classifications_to_replace = list(classification_counts[classification_counts <= cutoff_value].index)

print(classifications_to_replace)

['C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#cutoff_value = 500
#classifications_to_replace = []

#print(classifications_to_replace)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
new_df = pd.get_dummies(new_df)

print(new_df)

       STATUS   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_T10  \
0           1      5000              1                     1
1           1    108590              1                     0
2           1      5000              0                     0
3           1      6692              1                     0
4           1    142590              1                     0
...       ...       ...            ...                   ...
34294       1      5000              0                     0
34295       1      5000              0                     0
34296       1      5000              0                     0
34297       1      5000              1                     0
34298       1  36500179              0                     0

       APPLICATION_TYPE_T12  APPLICATION_TYPE_T13  APPLICATION_TYPE_T14  \
0                         0                     0                     0
1                         0                     0                     0
2                         0                     0                     0
3                         0                     0                     0
4                         0                     0                     0
...                     ...                   ...                   ...
34294                     0                     0                     0
34295                     0                     0                     0
34296                     0                     0                     0
34297                     0                     0                     0
34298                     0                     0                     0

       APPLICATION_TYPE_T15  APPLICATION_TYPE_T17  APPLICATION_TYPE_T19  ...  \
0                         0                     0                     0  ...
1                         0                     0                     0  ...
2                         0                     0                     0  ...
3                         0                     0                     0  ...
4                         0                     0                     0  ...
...                     ...                   ...                   ...  ...
34294                     0                     0                     0  ...
34295                     0                     0                     0  ...
34296                     0                     0                     0  ...
34297                     0                     0                     0  ...
34298                     0                     0                     0  ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                      0                       0                         0
1                      1                       0                         0
2                      0                       0                         0
3                      0                       1                         0
4                      0                       0                         1
...                  ...                     ...                       ...
34294                  0                       0                         0
34295                  0                       0                         0
34296                  0                       0                         0
34297                  0                       0                         0
34298                  0                       0                         0

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                       0                 0                       0
1                       0                 0                       0
2                       0                 0                       0
3                       0                 0                       0
4                       0                 0                       0
...                   ...               ...                     ...
34294                   0                 0                       0
34295                   0                 0                       0
34296                   0                 0                       0
34297                   0                 0                       0
34298                   0                 1                       0

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                    0                  0                         1
1                    0                  0                         1
2                    0                  0                         1
3                    0                  0                         1
4                    0                  0                         1
...                ...                ...                       ...
34294                0                  0                         1
34295                0                  0                         1
34296                0                  0                         1
34297                0                  0                         1
34298                0                  0                         1

       SPECIAL_CONSIDERATIONS_Y
0                             0
1                             0
2                             0
3                             0
4                             0
...                         ...
34294                         0
34295                         0
34296                         0
34297                         0
34298                         0

[34299 rows x 117 columns]

In [15]:
# Split our preprocessed data into our features and target arrays

# Separate the target variable (output) from the features (input)
X = new_df.drop('IS_SUCCESSFUL', axis=1)  # Features
y = new_df['IS_SUCCESSFUL']  # Target

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
import tensorflow as tf
from tensorflow.keras import layers, models

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(128, activation='relu', input_shape=(input_features,)))

# Second hidden layer
# Add more hidden layers (you can adjust the number of layers and nodes as needed)
nn.add(tf.keras.layers.Dense(256, activation='relu'))
nn.add(tf.keras.layers.Dense(128, activation='tanh'))
nn.add(tf.keras.layers.Dense(64, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(1, activation='sigmoid'))
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])


# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 128)               14976

 dense_6 (Dense)             (None, 256)               33024

 dense_7 (Dense)             (None, 128)               32896

 dense_8 (Dense)             (None, 64)                8256

 dense_9 (Dense)             (None, 1)                 65

=================================================================
Total params: 89217 (348.50 KB)
Trainable params: 89217 (348.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [34]:
# Compile the model
#  YOUR CODE GOES HERE

WARNING:tensorflow:From Z:\Travis\anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [20]:
# Train the model
epochs = 100  # Number of training epochs (you can adjust this as needed)
batch_size = 20  # Number of samples per gradient update (you can adjust this as needed)

history = nn.fit(X_train_scaled, y_train, epochs=epochs, batch_size=batch_size, validation_split=0.2)

Epoch 1/100
1098/1098 [==============================] - 3s 2ms/step - loss: 0.5694 - accuracy: 0.7200 - val_loss: 0.5462 - val_accuracy: 0.7400
Epoch 2/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5557 - accuracy: 0.7270 - val_loss: 0.5427 - val_accuracy: 0.7429
Epoch 3/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5522 - accuracy: 0.7291 - val_loss: 0.5486 - val_accuracy: 0.7332
Epoch 4/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5501 - accuracy: 0.7299 - val_loss: 0.5455 - val_accuracy: 0.7407
Epoch 5/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5494 - accuracy: 0.7300 - val_loss: 0.5490 - val_accuracy: 0.7356
Epoch 6/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5477 - accuracy: 0.7312 - val_loss: 0.5470 - val_accuracy: 0.7380
Epoch 7/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5469 - accuracy: 0.7322 - val_loss: 0.5428 - val_accuracy: 0.7411
Epoch 8/100
1098/1098 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7314 - val_loss: 0.5484 - val_accuracy: 0.7402
Epoch 9/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5455 - accuracy: 0.7324 - val_loss: 0.5408 - val_accuracy: 0.7409
Epoch 10/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5431 - accuracy: 0.7335 - val_loss: 0.5458 - val_accuracy: 0.7407
Epoch 11/100
1098/1098 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7331 - val_loss: 0.5436 - val_accuracy: 0.7403
Epoch 12/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5424 - accuracy: 0.7354 - val_loss: 0.5416 - val_accuracy: 0.7420
Epoch 13/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5419 - accuracy: 0.7340 - val_loss: 0.5425 - val_accuracy: 0.7409
Epoch 14/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5414 - accuracy: 0.7349 - val_loss: 0.5425 - val_accuracy: 0.7418
Epoch 15/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5412 - accuracy: 0.7348 - val_loss: 0.5438 - val_accuracy: 0.7403
Epoch 16/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5404 - accuracy: 0.7360 - val_loss: 0.5414 - val_accuracy: 0.7391
Epoch 17/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5396 - accuracy: 0.7344 - val_loss: 0.5444 - val_accuracy: 0.7389
Epoch 18/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5391 - accuracy: 0.7355 - val_loss: 0.5424 - val_accuracy: 0.7380
Epoch 19/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5385 - accuracy: 0.7345 - val_loss: 0.5429 - val_accuracy: 0.7382
Epoch 20/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5383 - accuracy: 0.7361 - val_loss: 0.5436 - val_accuracy: 0.7400
Epoch 21/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5374 - accuracy: 0.7368 - val_loss: 0.5461 - val_accuracy: 0.7394
Epoch 22/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5373 - accuracy: 0.7376 - val_loss: 0.5434 - val_accuracy: 0.7407
Epoch 23/100
1098/1098 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7377 - val_loss: 0.5464 - val_accuracy: 0.7398
Epoch 24/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5362 - accuracy: 0.7365 - val_loss: 0.5458 - val_accuracy: 0.7418
Epoch 25/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5383 - accuracy: 0.7372 - val_loss: 0.5451 - val_accuracy: 0.7403
Epoch 26/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5357 - accuracy: 0.7383 - val_loss: 0.5441 - val_accuracy: 0.7422
Epoch 27/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5354 - accuracy: 0.7377 - val_loss: 0.5430 - val_accuracy: 0.7405
Epoch 28/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5350 - accuracy: 0.7385 - val_loss: 0.5451 - val_accuracy: 0.7418
Epoch 29/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5346 - accuracy: 0.7393 - val_loss: 0.5510 - val_accuracy: 0.7398
Epoch 30/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5342 - accuracy: 0.7385 - val_loss: 0.5489 - val_accuracy: 0.7400
Epoch 31/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5342 - accuracy: 0.7383 - val_loss: 0.5471 - val_accuracy: 0.7413
Epoch 32/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5345 - accuracy: 0.7387 - val_loss: 0.5475 - val_accuracy: 0.7411
Epoch 33/100
1098/1098 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7379 - val_loss: 0.5492 - val_accuracy: 0.7416
Epoch 34/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5337 - accuracy: 0.7383 - val_loss: 0.5464 - val_accuracy: 0.7423
Epoch 35/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5324 - accuracy: 0.7389 - val_loss: 0.5474 - val_accuracy: 0.7402
Epoch 36/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5328 - accuracy: 0.7390 - val_loss: 0.5449 - val_accuracy: 0.7400
Epoch 37/100
1098/1098 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7396 - val_loss: 0.5454 - val_accuracy: 0.7422
Epoch 38/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5326 - accuracy: 0.7395 - val_loss: 0.5536 - val_accuracy: 0.7413
Epoch 39/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5325 - accuracy: 0.7400 - val_loss: 0.5500 - val_accuracy: 0.7400
Epoch 40/100
1098/1098 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7394 - val_loss: 0.5474 - val_accuracy: 0.7414
Epoch 41/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5327 - accuracy: 0.7390 - val_loss: 0.5522 - val_accuracy: 0.7418
Epoch 42/100
1098/1098 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7400 - val_loss: 0.5518 - val_accuracy: 0.7409
Epoch 43/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5314 - accuracy: 0.7400 - val_loss: 0.5489 - val_accuracy: 0.7411
Epoch 44/100
1098/1098 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7394 - val_loss: 0.5534 - val_accuracy: 0.7427
Epoch 45/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5315 - accuracy: 0.7396 - val_loss: 0.5472 - val_accuracy: 0.7420
Epoch 46/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5315 - accuracy: 0.7396 - val_loss: 0.5495 - val_accuracy: 0.7407
Epoch 47/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5315 - accuracy: 0.7397 - val_loss: 0.5588 - val_accuracy: 0.7402
Epoch 48/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5311 - accuracy: 0.7402 - val_loss: 0.5566 - val_accuracy: 0.7409
Epoch 49/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5308 - accuracy: 0.7407 - val_loss: 0.5549 - val_accuracy: 0.7423
Epoch 50/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5307 - accuracy: 0.7406 - val_loss: 0.5451 - val_accuracy: 0.7407
Epoch 51/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5304 - accuracy: 0.7401 - val_loss: 0.5565 - val_accuracy: 0.7411
Epoch 52/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5309 - accuracy: 0.7402 - val_loss: 0.5540 - val_accuracy: 0.7425
Epoch 53/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5304 - accuracy: 0.7402 - val_loss: 0.5578 - val_accuracy: 0.7416
Epoch 54/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5306 - accuracy: 0.7406 - val_loss: 0.5567 - val_accuracy: 0.7405
Epoch 55/100
1098/1098 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7410 - val_loss: 0.5585 - val_accuracy: 0.7420
Epoch 56/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5293 - accuracy: 0.7411 - val_loss: 0.5609 - val_accuracy: 0.7427
Epoch 57/100
1098/1098 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7405 - val_loss: 0.5570 - val_accuracy: 0.7407
Epoch 58/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5296 - accuracy: 0.7404 - val_loss: 0.5496 - val_accuracy: 0.7422
Epoch 59/100
1098/1098 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7384 - val_loss: 0.5547 - val_accuracy: 0.7403
Epoch 60/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5305 - accuracy: 0.7402 - val_loss: 0.5500 - val_accuracy: 0.7425
Epoch 61/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5297 - accuracy: 0.7398 - val_loss: 0.5667 - val_accuracy: 0.7425
Epoch 62/100
1098/1098 [==============================] - 2s 2ms/step - loss: 0.5289 - accuracy: 0.7409 - val_loss: 0.5615 - val_accuracy: 0.7414
Epoch 63/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5296 - accuracy: 0.7407 - val_loss: 0.5569 - val_accuracy: 0.7414
Epoch 64/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5290 - accuracy: 0.7401 - val_loss: 0.5597 - val_accuracy: 0.7413
Epoch 65/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5294 - accuracy: 0.7407 - val_loss: 0.5574 - val_accuracy: 0.7409
Epoch 66/100
1098/1098 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7403 - val_loss: 0.5615 - val_accuracy: 0.7420
Epoch 67/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5301 - accuracy: 0.7405 - val_loss: 0.5536 - val_accuracy: 0.7403
Epoch 68/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5296 - accuracy: 0.7391 - val_loss: 0.5601 - val_accuracy: 0.7422
Epoch 69/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5310 - accuracy: 0.7387 - val_loss: 0.5472 - val_accuracy: 0.7431
Epoch 70/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5289 - accuracy: 0.7402 - val_loss: 0.5587 - val_accuracy: 0.7429
Epoch 71/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5291 - accuracy: 0.7402 - val_loss: 0.5547 - val_accuracy: 0.7400
Epoch 72/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5309 - accuracy: 0.7406 - val_loss: 0.5499 - val_accuracy: 0.7413
Epoch 73/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5303 - accuracy: 0.7385 - val_loss: 0.5577 - val_accuracy: 0.7411
Epoch 74/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5296 - accuracy: 0.7399 - val_loss: 0.5535 - val_accuracy: 0.7425
Epoch 75/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5297 - accuracy: 0.7405 - val_loss: 0.5597 - val_accuracy: 0.7416
Epoch 76/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5292 - accuracy: 0.7392 - val_loss: 0.5591 - val_accuracy: 0.7409
Epoch 77/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5293 - accuracy: 0.7409 - val_loss: 0.5570 - val_accuracy: 0.7380
Epoch 78/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5287 - accuracy: 0.7398 - val_loss: 0.5660 - val_accuracy: 0.7392
Epoch 79/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5288 - accuracy: 0.7418 - val_loss: 0.5533 - val_accuracy: 0.7414
Epoch 80/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5285 - accuracy: 0.7414 - val_loss: 0.5598 - val_accuracy: 0.7407
Epoch 81/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5292 - accuracy: 0.7399 - val_loss: 0.5554 - val_accuracy: 0.7429
Epoch 82/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5288 - accuracy: 0.7411 - val_loss: 0.5661 - val_accuracy: 0.7414
Epoch 83/100
1098/1098 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7410 - val_loss: 0.5522 - val_accuracy: 0.7418
Epoch 84/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5294 - accuracy: 0.7416 - val_loss: 0.5569 - val_accuracy: 0.7413
Epoch 85/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5293 - accuracy: 0.7412 - val_loss: 0.5516 - val_accuracy: 0.7403
Epoch 86/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5300 - accuracy: 0.7398 - val_loss: 0.5497 - val_accuracy: 0.7414
Epoch 87/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5306 - accuracy: 0.7403 - val_loss: 0.5488 - val_accuracy: 0.7411
Epoch 88/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5291 - accuracy: 0.7409 - val_loss: 0.5614 - val_accuracy: 0.7414
Epoch 89/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5295 - accuracy: 0.7397 - val_loss: 0.5551 - val_accuracy: 0.7392
Epoch 90/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5300 - accuracy: 0.7410 - val_loss: 0.5590 - val_accuracy: 0.7420
Epoch 91/100
1098/1098 [==============================] - 1s 1ms/step - loss: 0.5296 - accuracy: 0.7406 - val_loss: 0.5608 - val_accuracy: 0.7429
Epoch 92/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5286 - accuracy: 0.7412 - val_loss: 0.5610 - val_accuracy: 0.7442
Epoch 93/100
1098/1098 [==============================] - 1s 1ms/step - loss: 0.5281 - accuracy: 0.7396 - val_loss: 0.5678 - val_accuracy: 0.7429
Epoch 94/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5287 - accuracy: 0.7401 - val_loss: 0.5599 - val_accuracy: 0.7398
Epoch 95/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5289 - accuracy: 0.7401 - val_loss: 0.5589 - val_accuracy: 0.7398
Epoch 96/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5294 - accuracy: 0.7390 - val_loss: 0.5645 - val_accuracy: 0.7398
Epoch 97/100
1098/1098 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7410 - val_loss: 0.5764 - val_accuracy: 0.7394
Epoch 98/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5316 - accuracy: 0.7389 - val_loss: 0.5522 - val_accuracy: 0.7407
Epoch 99/100
1098/1098 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7385 - val_loss: 0.5483 - val_accuracy: 0.7385
Epoch 100/100
1098/1098 [==============================] - 2s 1ms/step - loss: 0.5308 - accuracy: 0.7405 - val_loss: 0.5604 - val_accuracy: 0.7403

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5729 - accuracy: 0.7268 - 179ms/epoch - 831us/step
Loss: 0.5729297995567322, Accuracy: 0.7268221378326416

In [22]:
# Export our model to HDF5 file
model_filename = 'trained_model-1.h5'
nn.save(model_filename)

c:\Users\15128\anaconda3\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(